<h1> Owned by <%= @author.last_name %>, <%= @author.first_name %> </h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>
<p>
  <strong>Date Posted:</strong>
  <%= @article.date_posted %>
</p>

<%= link_to 'Back', author_articles_path(@author) %>

<h1> Comments </h1>

<%= form_tag author_article_comments_path(@author, @article, @comment_new) ,:method=>"Post", :remote=>true do%>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :body %><br />
    <%= text_area_tag :body %>
  </div>
  <div class="actions">
    <%= submit_tag "Save" %>
  </div>
<% end %>

<div id="comments">
  <%= render 'comments' %>
</div>
